.todo_page {
  width: 80%;
  margin: 0 auto;
  height: auto;
  // background-color: pink;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 20px;
  min-height: 150px;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;

    .item {
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 4px;
        background-color: red;
        transition: width 0.4s ease;
      }

      &:hover::after {
        width: 90px;
      }
    }

    .item.active {
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 4px;
        background-color: red;
        transition: width 0.4s ease;
      }
    }
  }

  .box_add {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-bottom: 10px;

    input {
      width: 75%;
      border: 1px solid #ccc;
      outline: none;
      padding: 15px 15px;
      border-radius: 10px;
    }

    .btn {
      width: 15%;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      background-color: blue;
      color: white;

      &:hover {
        background-color: #6c64b4;
      }

      &:active {
        transform: scale(0.97);
      }
    }
  }

  .list_todos {
    width: 100%;
    // background-color: rgb(88, 82, 70);
    position: relative;

    .box_todo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      .todo {
        display: flex;
        gap: 10px;
        align-items: center;
        height: 100%;

        input {
          transform: scale(1.5); /* Tăng tỷ lệ của checkbox */
          -webkit-transform: scale(
            1.5
          ); /* Đảm bảo tương thích với trình duyệt cũ */
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
        }

        .desc.active {
          text-decoration: line-through;
        }
      }

      .delete {
        font-size: 20px;
        cursor: pointer;

        &:hover {
          color: orangered;
        }

        &:active {
          transform: scale(0.97);
        }
      }
    }

    .delete_all {
      width: 130px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(148, 33, 33);
      margin-top: 30px;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      position: absolute;
      right: 0;
      margin-bottom: 10px;
    }

    .not_yet_todo {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      // background-color: red;

      .desc {
        color: #868383;
      }
    }
  }
}
